Django==3.0.7
django-cors-headers==3.4.0
django-storages==1.7.1
django-environ==0.4.5
djangorestframework==3.11.0
google-cloud-storage==1.13.0
gunicorn==19.9.0
Markdown==3.2.1
markdown2==2.3.7
Pillow==7.1.2
psycopg2==2.7.5
whitenoise==5.1.0
