DEBUG=True
SECRET_KEY='SECRETTT_KEYYYYY'
#DATABASE_URL=psql://postgres:postgres@127.0.0.1/journal
DATABASE_URL=psql://postgres:postgres@postgres/journal
ALLOWED_HOSTS=localhost:8000,localhost

CORS_ORIGIN_ALLOW_ALL=False
CORS_ORIGIN_WHITELIST=localhost:8000,localhost:8080
CORS_ALLOW_METHODS=OPTIONS,GET
